<div class="row btn-panel">
    <ul class="nav nav-pills nav-stacked">
        <li class="{% if activeP == 1 %}active{% endif %}"><a href="{{ 'page.php' | page }}">Inserisci</a></li>
        <li class="{% if activeP == 2 %}active{% endif %}"><a href="{{ 'list_inritiro.php' | page }}">In ritiro <span class="badge">{{ inritiro }}</span></a></li>
        <li class="{% if activeP == 3 %}active{% endif %}"><a href="{{ 'list_pubblicati.php' | page }}">Pubblicati <span class="badge">{{ disponibili }}</span></a></li>
        <li class="{% if activeP == 4 %}active{% endif %}"><a href="{{ 'list_storico_neg.php' | page }}">Storico</a></li>
    </ul>
</div>
